<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GIDClientID</key>
	<string>261815209730-5telusgkegrhvstikgc6jqev4ro2t719.apps.googleusercontent.com</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.googleusercontent.apps.261815209730-5telusgkegrhvstikgc6jqev4ro2t719</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.261815209730-5telusgkegrhvstikgc6jqev4ro2t719</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
